$primary: rgb(175, 27, 27);
$primary-dark: rgb(135, 21, 21);
$primary-light: rgb(208, 80, 80);


$background: rgb(42, 49 , 45);
$text-color: white;

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
//@import "bootstrap/scss/type";
//@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
//@import "bootstrap/scss/grid";
//@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
//@import "bootstrap/scss/button-group";
//@import "bootstrap/scss/nav";
//@import "bootstrap/scss/navbar";
//@import "bootstrap/scss/card";
//@import "bootstrap/scss/accordion";
//@import "bootstrap/scss/breadcrumb";
//@import "bootstrap/scss/pagination";
//@import "bootstrap/scss/badge";
//@import "bootstrap/scss/alert";
//@import "bootstrap/scss/progress";
//@import "bootstrap/scss/list-group";
//@import "bootstrap/scss/close";
//@import "bootstrap/scss/toasts";
//@import "bootstrap/scss/modal";
//@import "bootstrap/scss/tooltip";
//@import "bootstrap/scss/popover";
//@import "bootstrap/scss/carousel";
//@import "bootstrap/scss/spinners";
//@import "bootstrap/scss/offcanvas";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$section: $background;

body {
    background-color: $background;
    color: $text-color;
    font-family: Poppins, serif;
}

.text-body {
    color: $text-color;
}

.section {
    margin-bottom: 15px;
    padding: 10px 10px;

    background-color: $section;

    border-radius: 10px;
    border: 1px solid white;
}



button, label {
    user-select: none;
}

button {
    margin: 5px 10px 0 10px;
}

.button-container {
    margin: 10px;
}

canvas {
    user-select: none;

    margin: 0;
    padding: 0;
    
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.canvas-container {
    resize: vertical;

    max-width: 100%;
    min-height: 30px;
    max-height: 65vh;
    overflow: scroll;

    margin: 10px;
    padding: 0;

    background-image: url("assets/background.png");
    background-repeat:repeat;
}

.file-input {
    display: none;
}

.upload-option {
    font-weight: bold;
    color: black;
}

footer {
    margin: 10px 0 0 0;
    padding: 20px;
}


/* Scrollbar for body */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: $background;
}

::-webkit-scrollbar-thumb {
    background: $gray-700;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: $gray-600;
}

div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
div::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: $section;
}


/* Handle */
div::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 15px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background: $primary-light;
}