body {
    user-select: none;
}

canvas {
    user-select: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.canvas-container {
    max-width: 100%;
    max-height: 65vh;
    overflow: scroll;
}